{% load staticfiles %}
<html>
    <head>
        <title>PubListEz</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Inika&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/publistez.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <script type="text/javascript">// <![CDATA[
            function loading(){
                $("#loading").show();       
            }
        // ]]></script>
        <script type="text/javascript">// <![CDATA[
            function loading2(){
                $("#loading2").show();       
            }
        // ]]></script>
        <script type="text/javascript">// <![CDATA[
            function updating(){
                $("#updating").show();       
            }
        // ]]></script>
        <script type="text/javascript">// <![CDATA[
            function updating2(){
                $("#updating2").show();       
            }
        // ]]></script>
    </head>
    <body>
        <div class="page-header">
            {% if user.is_authenticated %}
                <a href="{% url 'pubs_list' %}" class="top-menu"><span class="glyphicon glyphicon-list-alt" title="Show My Publications"></span></a>
                <a href="{% url 'article_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus" title="Manually Add Publication"></span></a>
            {% endif %}
            <h1><a href="/">PubListEz</a></h1>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
        <p style="clear: both">&nbsp;</p>
        <p style="clear: both">&nbsp;</p>
    </body>
</html>
